@model PizzaBox.Client.Models.Order

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @DateTime.Now
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Store.Name)
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Preset Pizza
            </th>
            <th>
                Crust
            </th>
            <th>
                Size
            </th>
            <th>
                Toppings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {

            <tr>
                <td>
                    @item.PresetPizza.Name
                </td>
                <td>
                    @item.Crust.Name
                </td>
                <td>
                    @item.Size.Name
                </td>
                <td>
                    @foreach (var topping in item.Toppings)
                    {
                        @(topping.Name + " / ");
                    }
                </td>
            </tr>

        }
    </tbody>
</table>